@import "theme.scss";

/* --- Global --- */
* {
  all: unset;
  font-family: "Geist";
}

.background.bg_widget {
  border: none;
}

.vertical-bar {
  border-radius: 10px;
  padding: 5px;
  background-color: transparentize($color: $background-color, $amount: 0.3);
  border: 2.5px solid $border-color;
}

.widget-container {
  background-color: transparentize($color: $background-color, $amount: 0.5);
  border-radius: 20px;
  padding: 20px;
}

.logo {
  font-family: "Symbols Nerd Font";
  font-size: 20px;
  color: $logo-color;
  margin: 10px 0;
}

button {
  border-radius: 8px;
  transition: all 0.4s ease;
}

button:hover {
  background-color: transparentize($background-hover-color, 0.5);
}

/* --- System Stats in Vertical Bar --- */
.stat-item {
  padding: 8px;
  transition: all 0.3s ease;
}

/* --- Media Controls --- */
.media-controls-container {
  margin: 15px 0;
  padding: 10px 0;
}

.media-button {
  transition: all 0.3s ease;
  border-radius: 6px;
  padding: 7px 5px;
  margin: 0 2px;
}

/* --- Workspaces --- */
.workspaces-container {
  margin: 3px 0;
}

box > label.workspace-entry {
  padding: 5px;
  margin: 2px 1px;
  border-radius: 10px;
  border: 1px solid transparent;
}

box > label.workspace-entry.current {
  background-color: $background-active-color;
  color: $background-active-color-fg;
}

box.occupied > label.workspace-entry:not(.current) {
  border: 1px solid $background-active-color;
}

/* Style for active shuffle/repeat buttons */
.media-button.shuffle.active,
.media-button.repeat.Track,
.media-button.repeat.Playlist {
  color: $accent-color;
}

@import "./osd/osd.scss";
@import "./popup/popup.scss";
