@import "themes/hypaurora.scss";

/* --- Global --- */
* {
  all: unset;
  font-family: "Iosevka", "AzarMehrMonospaced";
  font-weight: 500;
  font-size: 13px;
  color: $fg-base;
}

.background.bg_widget {
  border: none;
}

.vertical-bar {
  border-radius: 10px;
  padding: 5px;
  background-color: transparentize($color: $bg-base, $amount: 0.3);
  border: 2.5px solid $border-base;
}

.widget-container {
  background-color: transparentize($color: $bg-base, $amount: 0.5);
  border-radius: 20px;
  padding: 10px;
}

.logo {
  font-family: "Symbols Nerd Font";
  font-size: 20px;
  color: $accent-logo;
  margin: 10px 0;
}

button {
  border-radius: 8px;
  transition: all 0.4s ease;
  color: $fg-base;
}

button:hover {
  background-color: transparentize($bg-hover, 0.5);
}

/* --- System Stats in Vertical Bar --- */
.stat-item {
  padding: 8px;
  transition: all 0.3s ease;
}

/* --- Media Controls --- */
.media-controls-container {
  margin: 15px 0;
  padding: 10px 0;
}

.media-button {
  transition: all 0.3s ease;
  border-radius: 6px;
  padding: 7px 5px;
  margin: 0 2px;
}

/* --- Workspaces --- */
.workspaces-container {
  margin: 3px 0;
  padding: 3px;
  border-radius: 8px;
  background-color: transparentize($bg-base, 0.4);
}

box > label.workspace-entry {
  padding: 4px 1px;
  margin: 2px 0;
  border-radius: 8px;
  border: 1px solid transparent;
  color: $fg-base;
  font-size: 11px;
  transition: all 0.3s ease;
}

box > label.workspace-entry.current {
  background-color: transparentize($bg-active, 0.2);
  color: $fg-active;
}

box.occupied > label.workspace-entry:not(.current) {
  background-color: transparentize($bg-active, 0.7);
}

/* Style for active shuffle/repeat buttons */
.media-button.shuffle.active,
.media-button.repeat.Track,
.media-button.repeat.Playlist {
  color: $accent-color;
}

@import "./osd/osd.scss";
@import "./popup/popup.scss";
