$background-color: #12141a;
$background-active-color: #fc6a67;
$background-active-color-fg: #12141a;
$background-hover-color: #404658;
$border-color: #a9dc76;
$border-color-popup: #e991e3;
$border-color-osd: #78dce8;
$accent-color: #c6cad7;
