$background-color: #2a2d33;
$background-active-color: #a9f65c;
$background-active-color-fg: #2a2d33;
$background-hover-color: #555b68;
$border-color: #ff6764;
$border-color-popup: #78e8c6;
$border-color-osd: #e991e3;
$accent-color: #62676c;
$logo-color: #78e8c6;
$slider-color: #ffd866;
