/* --- OSD --- */
.osd-container {
  padding: 10px 20px;
  background-color: transparentize($color: $bg-base, $amount: 0.5);
  border: 2px solid $border-osd;
  border-radius: 16px;
  color: $fg-base;
}

.osd-slider trough {
  all: unset;
  background-color: $bg-hover;
  border-radius: 6px;
  min-height: 15px;
  min-width: 200px;
}

.osd-slider highlight {
  all: unset;
  background-color: $accent-slider;
  border-radius: 6px;
  transition: all 0.3s ease;
}
