/* --- OSD --- */
.osd-container {
  padding: 10px 20px;
  background-color: transparentize($color: $background-color, $amount: 0.5);
  border: 2px solid $border-color-osd;
  border-radius: 16px;
}

.osd-slider trough {
  all: unset;
  background-color: $background-hover-color;
  border-radius: 10px;
  min-height: 10px;
  min-width: 200px;
}

.osd-slider highlight {
  all: unset;
  background-color: $slider-color;
  border-radius: 10px;
  transition: all 0.3s ease;
}
