[Desktop Entry]
Version=1.0
Type=Application
Name=Antigravity
Comment=Antigravity Desktop Application
Exec=/home/mahdi/.local/opt/Antigravity/antigravity %U
Icon=antigravity
Terminal=false
StartupNotify=true
Categories=Development;Utility;
