[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Comment=JetBrains PhpStorm IDE
Exec=/home/mahdi/.local/opt/PhpStorm/bin/phpstorm %f
Icon=phpstorm
Terminal=false
StartupNotify=true
StartupWMClass=com.jetbrains.PhpStorm
Categories=Development;IDE;
MimeType=text/plain;
