/* Style fixes for Tahoe theme */

/* Shotwell */
box > paned > paned > box > scrolledwindow * {
  background: transparent;
}

box > paned > paned > frame border {
  border: none;
}

box
  > paned
  > box
  > box
  > stack
  > scrolledwindow
  > viewport
  > stack
  > .content-view,
menubar {
  background: transparent;
}
