@define-color destructive_bg_color #CD533B;
@define-color destructive_fg_color #181a1b;
@define-color destructive_color #CD533B;
@define-color success_bg_color #7A8C6F;
@define-color success_fg_color #edf3ee;
@define-color success_color #7A8C6F;
@define-color warning_bg_color #D4C5A0;
@define-color warning_fg_color #edf3ee;
@define-color warning_color #D4C5A0;
@define-color error_bg_color #CD533B;
@define-color error_fg_color #edf3ee;
@define-color error_color #CD533B;
@define-color window_bg_color #181a1b;
@define-color window_fg_color #edf3ee;
@define-color view_bg_color #181a1b;
@define-color view_fg_color #edf3ee;
@define-color headerbar_bg_color #080809;
@define-color headerbar_fg_color #EDF3EE;
@define-color headerbar_backdrop_color #080809;
@define-color headerbar_shade_color #080809;
@define-color card_bg_color #242526;
@define-color card_fg_color #EDF3EE;
@define-color card_shade_color #242526;
@define-color popover_bg_color #0d0e0f;
@define-color popover_fg_color #EDF3EE;
@define-color sidebar_backdrop_color #080809;
@define-color sidebar_bg_color #080809;
@define-color sidebar_fg_color #EDF3EE;

/* Only apply for transparent popovers */
/* @define-color popover_bg_color alpha(#0d0e0f, 0.6); */