@define-color destructive_bg_color #f38ba8;
@define-color destructive_fg_color #1e1e2e;
@define-color destructive_color #f38ba8;
@define-color success_bg_color #a6e3a1;
@define-color success_fg_color #cdd6f4;
@define-color success_color #a6e3a1;
@define-color warning_bg_color #fab387;
@define-color warning_fg_color #cdd6f4;
@define-color warning_color #fab387;
@define-color error_bg_color #f38ba8;
@define-color error_fg_color #cdd6f4;
@define-color error_color #f38ba8;
@define-color window_bg_color #1e1e2e;
@define-color window_fg_color #cdd6f4;
@define-color view_bg_color #1e1e2e;
@define-color view_fg_color #cdd6f4;
@define-color headerbar_bg_color #313244;
@define-color headerbar_fg_color #6c7086;
@define-color headerbar_backdrop_color #313244;
@define-color headerbar_shade_color #313244;
@define-color card_bg_color #313244;
@define-color card_fg_color #bac2de;
@define-color card_shade_color #313244;
@define-color popover_bg_color #45475a;
@define-color popover_fg_color #bac2de;
@define-color sidebar_backdrop_color #11111b;
@define-color sidebar_bg_color #11111b;
@define-color sidebar_fg_color #7f849c;

/* Only apply for transparent popovers */
/* @define-color popover_bg_color alpha(#45475a, 0.6); */