@define-color destructive_bg_color #E82424;
@define-color destructive_fg_color #1F1F28;
@define-color destructive_color #E82424;
@define-color success_bg_color #76946A;
@define-color success_fg_color #DCD7BA;
@define-color success_color #76946A;
@define-color warning_bg_color #FF9E3B;
@define-color warning_fg_color #DCD7BA;
@define-color warning_color #FF9E3B;
@define-color error_bg_color #E82424;
@define-color error_fg_color #DCD7BA;
@define-color error_color #E82424;
@define-color window_bg_color #1F1F28;
@define-color window_fg_color #DCD7BA;
@define-color view_bg_color #1F1F28;
@define-color view_fg_color #DCD7BA;
@define-color headerbar_bg_color #1F1F28;
@define-color headerbar_fg_color #DCD7BA;
@define-color headerbar_backdrop_color #1F1F28;
@define-color headerbar_shade_color #1F1F28;
@define-color card_bg_color #16161D;
@define-color card_fg_color #DCD7BA;
@define-color card_shade_color #16161D;
@define-color popover_bg_color #16161D;
@define-color popover_fg_color #DCD7BA;
@define-color sidebar_backdrop_color #1F1F28;
@define-color sidebar_bg_color #1F1F28;
@define-color sidebar_fg_color #727169;

/* Only apply for transparent popovers */
/* @define-color popover_bg_color alpha(#16161D, 0.6); */