* {
    font-family:
        Iosevka,
        Symbols Nerd Font;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: all;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/* Left modules */

#cpu {
    padding: 0 8px;
    color: #1e1e2e;
    border-radius: 30px;
    background-color: #b4befe;
}

#memory {
    padding: 0 8px;
    color: #1e1e2e;
    border-radius: 30px;
    background-color: #89b4fa;
}

#battery {
    padding: 0 8px;
    color: #1e1e2e;
    border-radius: 30px;
    background-color: #94e2d5;
}


/* Center Modules */

#workspaces {
    background-color: #94e2d5;
    padding: 0 8px;
    border-radius: 30px;
}

#workspaces button {
    padding: 1px 1px 0 0;
    border-radius: 0;
    color: #1e1e2e;
    transition: all ease 0.3s;
}

#workspaces button:hover {
    color: #94e2d5;
    background-color: transparent;
}

#workspaces button.urgent {
    color: #89dceb;
}

/* Right modules */

#network {
    padding: 0 8px;
    color: #1e1e2e;
    border-radius: 30px;
    background-color: #a6e3a1;
}

#wireplumber,
#backlight {
    padding: 0 8px;
    color: #1e1e2e;
    border-radius: 30px;
}

#wireplumber {
    background-color: #f9e2af;
}

#backlight {
    background-color: #fab387;
}

#clock {
    padding: 0 8px;
    color: #1e1e2e;
    border-radius: 30px;
    background-color: #eba0ac;
}
