@keyframes low_battery {
  0% {
    color: #3584e4;
  }

  25% {
    color: #e01b24;
  }

  75% {
    color: #e01b24;
  }

  100% {
    color: #3584e4;
  }
}

@keyframes critical_battery {
  0% {
    color: #1e66f5;
  }

  25% {
    color: #d20f39;
  }

  75% {
    color: #d20f39;
  }

  100% {
    color: #1e66f5;
  }
}

* {
  font-family: "Monaspace Radon Var";
  font-size: 10.5px;
  font-weight: 600;
  color: #ffffff;
}

window {
  color: white;
}

window>box {
  background: #1e1e2e;
}

/* Grouping *** *** *** *** *** *** *** *** *** *** *** *** */
#cpu,
#custom-arch {
  border-radius: 8px 0 0 8px;
  padding: 0 8px 0 10px;
}

#window,
#memory,
#custom-storage,
#network,
#pulseaudio,
#battery {
  padding: 0 8px 0 8px;
}

#workspaces,
#battery {
  border-radius: 0 8px 8px 0;
  padding: 0 10px 0 8px;
}

/* Single Module Group */
#clock {
  border-radius: 8px;
  padding: 0 10px;
  margin: 0 4px;
}

/* Transparent Groups */
#tray,
#language,
#custom-pre_media,
#custom-toggle_media,
#custom-next_media,
#custom-media {
  padding: 0 5px;
  color: #a6adc8;
  font-weight: 900;
}

/* Elements *** *** *** *** *** *** *** *** *** *** *** *** */

/* Left */

#custom-arch {
  color: #0b57a4;
  font-size: 15px;
}

#window {
  padding-right: 0;
}

#workspaces button {
  padding: 0 2px;
  border-radius: 0;
}

#workspaces button label {
  color: #6c7086;
}

#workspaces button.active {
  border-bottom: 3px solid #cba6f7;
}

#workspaces button.active label {
  color: #cdd6f4;
  font-weight: 900;
}

/* Center */

/* Right */
#tray widget image {
  padding: 0 5px;
}

#tray widget:first-child image {
  padding-left: 0;
}

#tray widget:last-child image {
  padding-right: 0;
}

#custom-pre_media {
  margin-left: 10px;
}

#custom-pre_media,
#custom-toggle_media,
#custom-next_media,
#media {
  padding: 0 2px;
}

#cpu {
  color: #f2cdcd;
}

#memory {
  color: #f5c2e7;
}

#custom-storage {
  color: #cba6f7;
}

#network {
  color: #f38ba8;
}

#pulseaudio {
  color: #fab387;
}

#battery {
  color: #a6e3a1;
  padding-right: 15px;
}

#battery.warning {
  animation: low_battery 2s infinite;
  font-weight: 900;
}

#battery.critical {
  animation: critical_battery 1s infinite;
  font-weight: 900;
}
