@define-color accent_bg_color #075163;
@define-color accent_fg_color #1ad3fe;
@define-color accent_color #075163;
@define-color destructive_bg_color #C13838;
@define-color destructive_fg_color #0f1c21;
@define-color destructive_color #C13838;
@define-color success_bg_color #14b871;
@define-color success_fg_color #c2ced1;
@define-color success_color #14b871;
@define-color warning_bg_color #d6ac63;
@define-color warning_fg_color #c2ced1;
@define-color warning_color #d6ac63;
@define-color error_bg_color #C13838;
@define-color error_fg_color #c2ced1;
@define-color error_color #C13838;
@define-color window_bg_color #0f1c21;
@define-color window_fg_color #c2ced1;
@define-color view_bg_color #0f1c21;
@define-color view_fg_color #c2ced1;
@define-color headerbar_bg_color #090f12;
@define-color headerbar_fg_color #566367;
@define-color headerbar_backdrop_color #090f12;
@define-color headerbar_shade_color #090f12;
@define-color card_bg_color #0e171c;
@define-color card_fg_color #c2ced1;
@define-color card_shade_color #0e171c;
@define-color popover_bg_color #15262e;
@define-color popover_fg_color #c2ced1;
@define-color sidebar_backdrop_color #0e171c;
@define-color sidebar_bg_color #0e171c;
@define-color sidebar_fg_color #829094;

/* Target the specific row in the sidebar that's selected */
.navigation-sidebar row:selected {
    background-color: #075163;
    color: #1ad3fe;
}

/* Target the label in the selected row */
.navigation-sidebar row:selected .sidebar-label {
    color: #1ad3fe;
}

/* Hover effect for non-selected rows */
.navigation-sidebar row:hover:not(:selected) {
    background-color: #07516333;
}