@define-color accent_bg_color #5f5f60;
@define-color accent_fg_color #e2e2e2;
@define-color accent_color #5f5f60;
@define-color destructive_bg_color #D62C2C;
@define-color destructive_fg_color #141417;
@define-color destructive_color #D62C2C;
@define-color success_bg_color #42DD76;
@define-color success_fg_color #c5c5cb;
@define-color success_color #42DD76;
@define-color warning_bg_color #FFB638;
@define-color warning_fg_color #c5c5cb;
@define-color warning_color #FFB638;
@define-color error_bg_color #D62C2C;
@define-color error_fg_color #c5c5cb;
@define-color error_color #D62C2C;
@define-color window_bg_color #141417;
@define-color window_fg_color #c5c5cb;
@define-color view_bg_color #141417;
@define-color view_fg_color #c5c5cb;
@define-color headerbar_bg_color #080809;
@define-color headerbar_fg_color #5a5a5f;
@define-color headerbar_backdrop_color #080809;
@define-color headerbar_shade_color #080809;
@define-color card_bg_color #0f0f11;
@define-color card_fg_color #c5c5cb;
@define-color card_shade_color #0f0f11;
@define-color popover_bg_color #202025;
@define-color popover_fg_color #c5c5cb;
@define-color sidebar_backdrop_color #0f0f11;
@define-color sidebar_bg_color #0f0f11;
@define-color sidebar_fg_color #8c8c93;

/* Target the specific row in the sidebar that's selected */
.navigation-sidebar row:selected {
    background-color: #5f5f60;
    color: #e2e2e2;
}

/* Target the label in the selected row */
.navigation-sidebar row:selected .sidebar-label {
    color: #e2e2e2;
}

/* Hover effect for non-selected rows */
.navigation-sidebar row:hover:not(:selected) {
    background-color: #5f5f6033;
}