.notification-row {
    margin-top: 20px;
    margin-right: 15px;
}

.notification {
    padding: 5px 12px 5px 12px;
}

.notification .notification-default-action:hover {
    background-color: transparent;
}

.notification .notification-alt-actions {
    border-radius: 12px;
    border: none;
    margin: 3px 5px 0 5px;
}
