/* --- Wi-Fi List --- */
.wifi-list-container {
  padding: 15px;
  border-radius: 20px;
  color: #f1f1f1;
  border: 2px solid $border-color-popup;
}

.wifi-entry {
  padding: 8px 8px;
  border-radius: 12px;
}

.wifi-ssid.active {
  color: $accent-color;
  font-weight: bold;
}

/* --- Power Window --- */
.power-window-container {
  border: 2px solid $border-color-popup;
}

.power-buttons-container button {
  padding: 8px 8px;
  margin-top: 10px;
}

.power-profiles-container {
  margin-top: -20;
}

.power-profiles-container button {
  padding: 9px 20px;
  margin: -3px 0;
  color: $accent-color;
}

.power-profiles-container button:not(.active):not(:hover) {
  color: #f1f1f1;
}

/* --- Date Window --- */
.date-window-container {
  border: 2px solid $border-color-popup;
  padding: 15px 25px;
  color: #f1f1f1;
}

.persian-date {
  font-family: "Vazirmatn FD";
  font-size: 14px;
  color: #a0a0a0;
}

/* --- Wi-Fi Password Prompt --- */
.password-window {
  color: #f1f1f1;
  padding: 25px;
  border-radius: 20px;
}

.password-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.password-input {
  background-color: transparentize($color: $background-color, $amount: 0.3);
  border-radius: 10px;
  padding: 10px;
  min-width: 300px;
}

.password-input:focus {
  border: 2px solid $border-color-popup;
}

.password-buttons {
  margin-top: 10px;
}

.password-button {
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
}

.password-button.cancel {
  background-color: transparentize($color: $background-color, $amount: 0.3);
}

.password-button.cancel:hover {
  background-color: transparentize(
    $color: $background-hover-color,
    $amount: 0.3
  );
}

.password-button.connect {
  background-color: transparentize($color: $accent-color, $amount: 0.3);
  color: $background-color;
}

.password-button.connect:hover {
  background-color: darken($color: $accent-color, $amount: 20%);
}
