$variant: "dark";
$contrast: "normal";

@import "gnome-shell-sass/_colors"; // Use gtk colors
@import "gnome-shell-sass/_colors-override"; // Custom color overrides
@import "gnome-shell-sass/_drawing";
@import "gnome-shell-sass/_common";
@import "gnome-shell-sass/_widgets";
