# Set 'foo' as custom color palette
palette = 'catppuccin_latte'

format = """
$os\
$username\
$directory\
$git_branch\
$git_status\
$c\
$elixir\
$python\
$elm\
$golang\
$gradle\
$haskell\
$java\
$julia\
$nodejs\
$php\
$nim\
$rust\
$scala\
$docker_context\
 [\\$](bold text) \
"""

# Disable the blank line at the start of the prompt
add_newline = false

# You can also replace your username with a neat symbol like   or disable this
# and use the os module below
[username]
show_always = true
style_user = "fg:mauve"
style_root = "fg:maroon"
format = '[$user ]($style)'
disabled = false

# An alternative to the username module which displays a symbol that
# represents the current operating system
[os]
style = "fg:sky"
disabled = false # Disabled by default

[os.symbols]
Fedora = "  "
Manjaro = " "

[directory]
style = "fg:pink"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

# Here is how you can shorten some long paths by text replacement
# similar to mapped_locations in Oh My Posh:
[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
# Keep in mind that the order matters. For example:
# "Important Documents" = " 󰈙 "
# will not be replaced, because "Documents" was already substituted before.
# So either put "Important Documents" before "Documents" or use the substituted version:
# "Important 󰈙 " = " 󰈙 "

[c]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[docker_context]
symbol = " "
style = "fg:lavender"
format = '[ $symbol $context ]($style)'

[elixir]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[python]
symbol = ""
style = "fg:lavender"
format = '[ $symbol ($virtualenv) ]($style)'
detect_folders = ['.venv']

[elm]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[git_branch]
symbol = ""
style = "fg:green"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:green"
format = '[$all_status$ahead_behind ]($style)'

[golang]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[gradle]
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[haskell]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[java]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[julia]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[nodejs]
symbol = ""
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[php]
symbol = ""
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[nim]
symbol = "󰆥 "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[rust]
symbol = ""
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[scala]
symbol = " "
style = "fg:lavender"
format = '[ $symbol ($version) ]($style)'

[time]
disabled = false
time_format = "%R" # Hour:Minute Format
style = "fg:text"
format = '[ ♥ $time ]($style)'

# Wait 150 milliseconds for starship to check files under the current directory.
scan_timeout = 300

# Wait 150 milliseconds for starship to execute a command under the current directory.
command_timeout = 300

# Disable the blank line at the start of the prompt
add_newline = false

# Define custom colors
[palettes.catppuccin_latte]
rosewater = "#dc8a78"
flamingo = "#dd7878"
pink = "#ea76cb"
mauve = "#8839ef"
red = "#d20f39"
maroon = "#e64553"
peach = "#fe640b"
yellow = "#df8e1d"
green = "#40a02b"
teal = "#179299"
sky = "#04a5e5"
sapphire = "#209fb5"
blue = "#1e66f5"
lavender = "#7287fd"
text = "#4c4f69"
subtext1 = "#5c5f77"
subtext0 = "#6c6f85"
overlay2 = "#7c7f93"
overlay1 = "#8c8fa1"
overlay0 = "#9ca0b0"
surface2 = "#acb0be"
surface1 = "#bcc0cc"
surface0 = "#ccd0da"
base = "#eff1f5"
mantle = "#e6e9ef"
crust = "#dce0e8"

[palettes.catppuccin_mocha]
rosewater = "#f5e0dc"
flamingo = "#f2cdcd"
pink = "#f5c2e7"
mauve = "#cba6f7"
red = "#f38ba8"
maroon = "#eba0ac"
peach = "#fab387"
yellow = "#f9e2af"
green = "#a6e3a1"
teal = "#94e2d5"
sky = "#89dceb"
sapphire = "#74c7ec"
blue = "#89b4fa"
lavender = "#b4befe"
text = "#cdd6f4"
subtext1 = "#bac2de"
subtext0 = "#a6adc8"
overlay2 = "#9399b2"
overlay1 = "#7f849c"
overlay0 = "#6c7086"
surface2 = "#585b70"
surface1 = "#45475a"
surface0 = "#313244"
base = "#1e1e2e"
mantle = "#181825"
crust = "#11111b"
